{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <style>
        .scherm { position: absolute; height: 100vh; width: 100%; text-align: center}
    </style>
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Checkin_date</th>
                <th>Checkout_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.checkinDate ? reservation.checkinDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.checkoutDate ? reservation.checkoutDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% else %}

    <a href="/"><div class="scherm">U mag niet op deze pagina zijn. Klik op het scherm om terug te gaan</div></a>
    {% endif %}
{% endblock %}
